/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
* {
  margin: 0px;
  box-sizing: border-box;
}


body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  max-width: 1000px;
}

main {
    /*overflow: hidden;*/
    margin: 0px;
    height: 300px;
    background-color: #06365f;
    border: 1px solid #06365f;
    padding: 5%;
    max-width: 1000px;
}

.left {
  margin: 0 auto;
}

.right {
  margin: 0 auto;
}

.image {
  float: left;
}

.iphone {
  margin-right: 5%;
}

.brand {
  position: relative;
  margin-right: 5%;
}

.login {
  position: relative;
  line-height: normal ;
  background-color: #1c5380;
  display: inline-block;
  width: 100px;
  color: white;
  text-decoration: bold;
}

.bottom {
  height: 275px;
  width: 505px;
  /*max-width: 300px;*/
  top: 200px;
  left: 200px;
  float:left;
  background-image: url(../images/frame.png);
}

.intro {
  /*position: absolute;*/
  /*max-width: 400px;*/
  width: 100%;
  left: 450px;
  z-index: 100;
  padding: 25px;
}

/*.frame {*/
  position: absolute;
  left: 400px;
}

.badge {
  display: inline-block;
  margin: auto;
  height: 30px;
}

.badge.appstore {
  display: inline-block;
}

.badge.gplay {
  display: inline-block;
  margin-left: 50px;
}

h3 {
  margin-bottom: 10px;
  color: #06365f;
}

footer {
  clear: both;
  margin: 0 auto;
  text-align: center;
}

ul li {
  display: inline-block;
  list-style-type: none;
  margin: 5px;
  color: #06365f;
  text-decoration: 900;
}

.copy {
  margin-left: 50px;
  color: grey;
}
